/* Style Requirements */
.calendar {
  width: 100%;
  margin: 0 auto;
}
.calendar th,
.calendar td {
  text-align: center;
  padding: 10px;
  width: 10%;
}
.calendar td {
  cursor: pointer;
}
.busy {
  background-color: #ee9b9b !important;
  color: #000 !important;
}
.available {
  background-color: #b1ebb1 !important;
  color: #000 !important;
}
.out-of-office {
  background-color: #adadfc !important;
  color: #000 !important;
}
.partly-available {
  background-color: #f5f5b4 !important;
  color: #000 !important;
}
.month-name {
  text-align: center;
  font-weight: bold;
}
.dropup.not-mobile {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.dropdown.mobile {
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1;
    display: none;
    padding: 0;
    margin: 0;
  }

/* Fancy Fixings */
/* body {
  padding-bottom: 53px;
} */

div.dark-mode-toggle {
  position: fixed;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
  font-size: larger;
  z-index: 1;
}

h1 {
  font-size: 2.5rem;
  height: 5rem;
  letter-spacing: -3px;
  padding: 6.5vh 5vw 5vh 5vw;
  font-family: "Gambetta", serif;
  transition: 1000ms ease;
  font-synthesis: none;
  font-weight: 300;
  font-style: oblique 1deg;
}

h1:hover {
  font-weight: 500;
  /* font-style: oblique 14deg; */
  letter-spacing: 3px;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1em auto 0 auto;
  padding: 0 0 53px 0;
}

.calendar {
  flex: 0 1;
  width: 100%;
  margin: 0 auto;
}

.spacer {
  flex: 1;
  width: 100%;
}

.file-buttons {
  margin: 0.5em 0 0em 0;
  flex: 0;
  display: flex;
  padding: 0.5em;
  justify-content: center;
}

.file-buttons .btn,
.footer .btn {
  margin: 0 0.25em 0 0.25em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 45px;
  /* background-color: #f5f5f5; */
}

.footer.hide {
    display: none;
}

.fit-availability {
  margin: 0 auto 0 auto;
  padding: 0 0 0.5em 0;
  border-radius: 0.5em 0.5em 0 0;
  width: fit-content;
  height: 100%;
  /* background-color: #14141494; */
}

.selected {
  --selected-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px var(--selected-color);
}

.btn-danger {
  --selected-color: rgb(255, 106, 106);
}

.btn-success {
  --selected-color: rgb(143, 255, 143);
}

.btn-primary {
  --selected-color: rgb(109, 201, 255);
}

.btn-warning {
  --selected-color: rgb(244, 255, 144);
}

.comparing {
    /* background-color: #c0c0c044; */
}

.comparing td {
}

/* Comparing Mode */
.comparing td {
    position: relative;
    padding: 0;
    height: 45px;
}

.comparing div.text {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
}

.comparing .bgContainer {
    display: flex;
    height: 45px;
}

.comparing .bgContainer div {
    background-color: #a5a5a59a;
    flex: 1;
}

label {
    padding: 0 auto 0 auto;
}

/* Responsive Handling */

@media (max-width: 768px) {
  .footer .btn {
    width: 95%;
    margin: 2px 0;
  }
  .footer .btn-info,
  .footer .btn-secondary {
    margin-bottom: 10px;
  }

  div.dark-mode-toggle {
    top: 2%;
    right: 4%;
    font-size: large;
  }

  .container {
    margin: 3em auto 0.25em auto;
    padding: 0 0 184px 0;
    width: 90%;
  }

  .file-buttons .btn {
    font-size: 0;
    margin: 0 0.25rem 0 0.25rem;
  }

  i {
    font-size: x-large;
  }

  .not-mobile {
    display: none;
  }

  .mobile {
    display: block !important;
  }

  th, td {
    font-size: small;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    height: auto;
    padding: auto;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}